.haecksen-logo { 
    max-width: 74px;
}

.header-content-area::before {
    background: linear-gradient(to right, #60c1ffe6 0%, #08a774d6 100%);
}
.header-content-area {
    border-radius: 0%;
}

.navbar-area::before {
    background: linear-gradient(to right, #25c7ff 0%, #0d9449 100%);
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .navbar-area .navbar .navbar-collapse {
        background-color: #0d9449;
    }
}

.navbar-area .navbar .navbar-nav .nav-item a {
    color: #000;
}

.header-countdown .single-count-content.count-color-1 .count, 
.header-countdown .single-count-content.count-color-1 .text,
.header-countdown .single-count-content.count-color-2 .count, 
.header-countdown .single-count-content.count-color-2 .text, 
.header-countdown .single-count-content.count-color-3 .count, 
.header-countdown .single-count-content.count-color-3 .text,
.header-countdown .single-count-content.count-color-4 .count, 
.header-countdown .single-count-content.count-color-4 .text {
    color: #000;
}

.header-content .header-title {
    color: #000;
}

.header-content .sub-title {
    color: #000;
}

.about-content .date span {
    color: #0d9449;
    padding-right: 15px;
}

.about-content .date span::before {
    border: 6px solid rgba(24, 255, 125, 0.18);
    width: 125px;
}

.counter-area {
    background-image: none;
}

.single-counter .counter-icon i {
    color: #25c7ff;
}

.single-counter .counter-content .count {
    color: #0d9449;
}

.main-btn {
    border: #0d9449 2px solid;
    border-radius: 0%;
    color: #0d9449;
}

.main-btn.main-btn-2 {  
    background: #08a774;
    border-color: #fff;
}

.event-tab .tab-content .event-content .single-event {
    background-color: #ffe5f8;
}

.event-image img {
    max-width: 162px;
}

.single-team .team-content .sub-title {
    color: #0d9449;
}

.single-team .team-content::before {
    background: linear-gradient(to right, #60c1ffe6 0%, #08a774d6 100%);
}

.single-features .features-icon i {
    color: #0d9449;
}

.event-tab {
    border: 3px solid rgba(24, 255, 125, 0.18);
}

.event-tab .nav .nav-item a::before {
    background: #0d9449;
}
.event-tab .nav .nav-item a {
    border: 3px solid rgba(0, 198, 244, 0.18);
}

.event-tab .nav .nav-item a .nav-title {
    color: #25c7ff ;
}

.single-features::before {
    background: linear-gradient(to right, #60c1ffe6 0%, #08a774d6 100%);
}

.event-tab .nav .nav-item a {
    width: 185px;
}

.event-tab .tab-content .event-content .single-event::before {
    background: linear-gradient(to right, #60c1ffe6 0%, #08a774d6 100%);
}

.footer-contact .social li a {
    color: #1664ff;
    background-color: #fff;
}

.copyright .text, .copyright .text a {
    color: #0d9449;
}

.single-gallery .gallery-image::before {
    background-color: #08a774d6;
}

.footer-widget .widget {
    border: none;
}

.footer-area::before {
    background: linear-gradient(to right, #60c1ffe6 0%, #08a774d6 100%);
}
