/* Insert styling for the start page here */

/* orbitron-regular - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/orbitron-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/orbitron-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/orbitron-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/orbitron-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/orbitron-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/orbitron-v19-latin-regular.svg#Orbitron') format('svg'); /* Legacy iOS */
}

/* orbitron-500 - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/orbitron-v19-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/orbitron-v19-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/orbitron-v19-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/orbitron-v19-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/orbitron-v19-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/orbitron-v19-latin-500.svg#Orbitron') format('svg'); /* Legacy iOS */
}

/* orbitron-800 - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/orbitron-v19-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/orbitron-v19-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/orbitron-v19-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/orbitron-v19-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/orbitron-v19-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/orbitron-v19-latin-800.svg#Orbitron') format('svg'); /* Legacy iOS */
}

/* poppins-200 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/poppins-v19-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v19-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v19-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v19-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v19-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v19-latin-200.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v19-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v19-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v19-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v19-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v19-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v19-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v19-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/poppins-v19-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v19-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v19-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v19-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v19-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v19-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* pacifico-regular - latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pacifico-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/pacifico-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pacifico-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pacifico-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pacifico-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pacifico-v21-latin-regular.svg#Pacifico') format('svg'); /* Legacy iOS */
}

/* rampart-one-regular - latin */
@font-face {
  font-family: 'Rampart One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rampart-one-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/rampart-one-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rampart-one-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rampart-one-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rampart-one-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rampart-one-v5-latin-regular.svg#RampartOne') format('svg'); /* Legacy iOS */
}


.logo-start {
  height: 42px;
}

.navbar {
  font-family: 'Orbitron', sans-serif;
}

.fw-light {
  font-family: 'Poppins', sans-serif;
}

.text-muted a {
  color: #6c757d!important
}

.rooms img {
  padding: 40px;
}

footer {
  background: linear-gradient(to right, #60c1ffe6 0%, #08a774d6 100%);
}

footer p {
  color: #fff;
}

footer .social a {
  background-color: #fff;
  display: inline-block;
  width: 42px;
  border-radius: 20%;
  padding: 5px;
}

footer .social img {
  width: 100%;
}
